# macOS
.DS_Store

# Python
__pycache__/
*.py[codz]
*$py.class

# Ambiente virtual
.venv/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Testes e cobertura
.coverage
.coverage.*
htmlcov/
coverage.xml
.pytest_cache/

# Redis
*.rdb
*.aof

# Variáveis de ambiente
.env
.envrc
